# List

list can be changed

In [44]:
x = [1,2,3,4,5,'USA','India','UK','Australia','singapore'] #list

print(x)

print(len(x)) # length of list, count of list

print(type(x)) # finding type

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Australia', 'singapore']
10
<class 'list'>

Index starts from 0 to n-1 , assume n as length of list

In [45]:
# accessing elements
#x[index]
print(x[0]) 
print(x[9])
print(x[11])

1
singapore

IndexError: list index out of range

In [61]:
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [46]:
#Replace elements
print(x)
x[8] = 'Russia'
print(x)

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Australia', 'singapore']
[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore']

In [47]:
print(x)
x.append('Srilanka')
print(x)

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore']
[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore', 'Srilanka']

In [64]:
x.append('china','sweden')
print(x)

TypeError: append() takes exactly one argument (2 given)

In [48]:
x.append(111)
print(x)

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore', 'Srilanka', 111]

In [66]:
a = [10,20,30]
b = (100,200,300)
c = {'p':1000,'q':2000,'r':3000}
d = {10000,20000,30000}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [67]:
x

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore', 'Srilanka', 111]

In [68]:
x.extend(a)
print(x)

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore', 'Srilanka', 111, 10, 20, 30]

In [69]:
x.extend(a,b)
print(x)

TypeError: extend() takes exactly one argument (2 given)

In [70]:
x.extend(b)
print(x)

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore', 'Srilanka', 111, 10, 20, 30, 100, 200, 300]

In [71]:
x.extend(c.values())
print(x)

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore', 'Srilanka', 111, 10, 20, 30, 100, 200, 300, 1000, 2000, 3000]

In [72]:
x.extend(d)
print(x)

[1, 2, 3, 4, 5, 'USA', 'India', 'UK', 'Russia', 'singapore', 'Srilanka', 111, 10, 20, 30, 100, 200, 300, 1000, 2000, 3000, 10000, 30000, 20000]

In [95]:
list1 = [1,2,5,20,10,100,1000,500,2000]
list1.sort() # ascending 
print(list1)
list1.sort(reverse=True) # descending
print(list1)

[1, 2, 5, 10, 20, 100, 500, 1000, 2000]
[2000, 1000, 500, 100, 20, 10, 5, 2, 1]

In [50]:
fruits = ['apple', 'banana', 'orange']
fruits.insert(1, "guava")
print(fruits)

['apple', 'guava', 'banana', 'orange']

In [51]:
print(fruits)
fruits.remove("banana")
print(fruits)

['apple', 'guava', 'banana', 'orange']
['apple', 'guava', 'orange']

In [52]:
print(fruits)
fruits.pop()
print(fruits)

['apple', 'guava', 'orange']
['apple', 'guava']

In [53]:
del fruits[0] # delete element in list 
print(fruits)

['guava']

In [54]:
print(fruits)
del fruits # delete entire list
print(fruits)

['guava']

NameError: name 'fruits' is not defined

In [55]:
list2 = [1,2,3,4,5,6,7,8,9]
print(list2)
list2.reverse()
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
list3 = [1,2,2,2,2,2,2,3]
list3.count(2)

6

In [57]:
list4 = [1,2,3,4,5]
print(list4)
list4.clear() # empty list will be returned
print(list4)

[1, 2, 3, 4, 5]
[]

In [15]:
list5 = [100,200,300,400]
list6 = list5.copy()
print(list6)

[100, 200, 300, 400]

In [17]:
list7 = ['abc','xyz',50000,4500]
list7.index(4500)

3

# Tuple

tuple cannot be changed

In [60]:
x = (1,2,3,4,5,5,5,5,5,5)
print(x)
print(type(x))
print(len(x))
print(dir(x))

(1, 2, 3, 4, 5, 5, 5, 5, 5, 5)
<class 'tuple'>
10
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [61]:
x.count(5)

6

In [62]:
x.index(5)

4

In [63]:
x.append(100)

AttributeError: 'tuple' object has no attribute 'append'

# Dictionary

Dictionary must be in key value pair , start , end with flower bracket dictionary is mutable(changeable )

In [70]:
dict1 = {'brand': 'kia', 'year': 2019, 'color': 'white','model':'seltos'}
print(dict1)
print(type(dict1))
print(len(dict1))
print(dir(dict1))

{'brand': 'kia', 'year': 2019, 'color': 'white', 'model': 'seltos'}
<class 'dict'>
4
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [71]:
x = dict1["year"] # dictname['key']
x

2019

In [72]:
y = dict1.get("year")
y

2019

In [73]:
k = dict1.keys()
k

dict_keys(['brand', 'year', 'color', 'model'])

In [74]:
v = dict1.values()
v

dict_values(['kia', 2019, 'white', 'seltos'])

In [75]:
print(dict1)
dict1['year'] = 2021
dict1

{'brand': 'kia', 'year': 2019, 'color': 'white', 'model': 'seltos'}

{'brand': 'kia', 'year': 2021, 'color': 'white', 'model': 'seltos'}

In [32]:
dict1.items()

dict_items([('brand', 'kia'), ('year', 2021), ('color', 'white'), ('model', 'seltos')])

In [33]:
dict2 = dict1.copy()
dict2

{'brand': 'kia', 'year': 2021, 'color': 'white', 'model': 'seltos'}

In [34]:
dict1.clear()
dict1

{}

In [35]:
del dict1
dict1

NameError: name 'dict1' is not defined

In [76]:
dict3 = dict(brand="samsung", model="s9", year=2018) # way to create dictionary using dict keyword
print(dict3)

{'brand': 'samsung', 'model': 's9', 'year': 2018}

In [84]:
a = [10,20,30]
b = (100,200,300)
c = {'p':1000,'q':2000,'r':3000}
d = {10000,20000,30000}
#create a dictionary from list, tuple, dictionary & set
x = {'brand': 'glenysys1', 't': a}
print(x)
y = {'brand': 'glenysys2', 't': b}
print(y)
z = {'brand': 'glenysys3', 't': c}
print(z)
r = {'brand': 'glenysys4', 't': d}
print(r)

{'brand': 'glenysys1', 't': [10, 20, 30]}
{'brand': 'glenysys2', 't': (100, 200, 300)}
{'brand': 'glenysys3', 't': {'p': 1000, 'q': 2000, 'r': 3000}}
{'brand': 'glenysys4', 't': {10000, 30000, 20000}}

# Set

set will remove duplicate values, keep unique values

In [85]:
s1 = {1,2,2,3,3,3,4,4,4,4,5,5,5,5,5}
s1

{1, 2, 3, 4, 5}

In [86]:
list1 = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
print(list1)
s2 = set(list1)
print(s2)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]
{1, 2, 3, 4, 5}

In [42]:
print(dir(s2))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [96]:
set1 = {1, 2, 3, 4, 5}
set2 = {5,10, 20, 30, 40, 50}
set1.add(1000)
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))
set1.update(5,500)

{1, 2, 3, 4, 5, 1000, 40, 10, 50, 20, 30}
{5}
{1, 2, 3, 4, 1000}
{1, 2, 3, 4, 10, 20, 30, 40, 1000, 50}

TypeError: 'int' object is not iterable