In [1]:
# SPARK_HOME path Test
import findspark
findspark.init()
import pyspark
findspark.find()

'C:\\Users\\DBREDDY\\Spark'

In [2]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('DataFrame').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [3]:
print(dir(spark))

['Builder', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_activeSession', '_convert_from_pandas', '_createFromLocal', '_createFromRDD', '_create_dataframe', '_create_from_pandas_with_arrow', '_create_shell_session', '_get_numpy_record_dtype', '_inferSchema', '_inferSchemaFromList', '_instantiatedSession', '_jsc', '_jsparkSession', '_jvm', '_jwrapped', '_repr_html_', '_sc', '_wrapped', 'builder', 'catalog', 'conf', 'createDataFrame', 'getActiveSession', 'newSession', 'range', 'read', 'readStream', 'sparkContext', 'sql', 'stop', 'streams', 'table', 'udf', 'version']

In [4]:
print(dir(spark.read))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_df', '_jreader', '_set_opts', '_spark', 'csv', 'format', 'jdbc', 'json', 'load', 'option', 'options', 'orc', 'parquet', 'schema', 'table', 'text']

In [4]:
df = spark.read.csv("machine-readable-business-employment-data-dec-2020-quarter.csv",inferSchema = True, header = True)

In [46]:
print(dir(df))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_jcols', '_jdf', '_jmap', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_sort_cols', '_support_repr_html', '_to_corrected_pandas_type', 'agg', 'alias', 'approxQuantile', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'intersect', 'intersectAll', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInPandas', 'na', 'orderBy', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'show', 'sort', 'sortWithinPartitions', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'where', 'withColumn', 'withColumnRenamed', 'withWatermark', 'write', 'writeStream']

In [48]:
df.head(2)

[Row(Series_reference='BDCQ.SEA1AA', Period=2011.06, Data_value=80078.0, Suppressed=None, STATUS='F', UNITS='Number', Magnitude=0, Subject='Business Data Collection - BDC', Group='Industry by employment variable', Series_title_1='Filled jobs', Series_title_2='Agriculture, Forestry and Fishing', Series_title_3='Actual', Series_title_4=None, Series_title_5=None),
 Row(Series_reference='BDCQ.SEA1AA', Period=2011.09, Data_value=78324.0, Suppressed=None, STATUS='F', UNITS='Number', Magnitude=0, Subject='Business Data Collection - BDC', Group='Industry by employment variable', Series_title_1='Filled jobs', Series_title_2='Agriculture, Forestry and Fishing', Series_title_3='Actual', Series_title_4=None, Series_title_5=None)]

In [50]:
df.tail(3)

[Row(Series_reference='BDCQ.SEE3999A', Period=2017.12, Data_value=None, Suppressed='Y', STATUS='C', UNITS='Number', Magnitude=0, Subject='Business Data Collection - BDC', Group='Territorial authority by employment variable', Series_title_1='Filled jobs (workplace location based)', Series_title_2='Area Outside Territorial Authority', Series_title_3='Actual', Series_title_4=None, Series_title_5=None),
 Row(Series_reference='BDCQ.SEE3999A', Period=2018.03, Data_value=None, Suppressed='Y', STATUS='C', UNITS='Number', Magnitude=0, Subject='Business Data Collection - BDC', Group='Territorial authority by employment variable', Series_title_1='Filled jobs (workplace location based)', Series_title_2='Area Outside Territorial Authority', Series_title_3='Actual', Series_title_4=None, Series_title_5=None),
 Row(Series_reference='BDCQ.SEE3999A', Period=2018.06, Data_value=None, Suppressed='Y', STATUS='C', UNITS='Number', Magnitude=0, Subject='Business Data Collection - BDC', Group='Territorial authority by employment variable', Series_title_1='Filled jobs (workplace location based)', Series_title_2='Area Outside Territorial Authority', Series_title_3='Actual', Series_title_4=None, Series_title_5=None)]

In [14]:
df.show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
|     BDCQ.SEA1AA|2011.06|   80078.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.09|   78324.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2011.12|   85850.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.03|   90743.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.06|   81780.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.09|   79261.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2012.12|   87793.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.03|   91571.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.06|   81687.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.09|   81471.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2013.12|   93950.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.03|   97208.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.06|   85879.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.09|   84447.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2014.12|   95075.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.03|   98202.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.06|   87987.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.09|   84529.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2015.12|   96848.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
|     BDCQ.SEA1AA|2016.03|   99291.0|      null|     F|Number|        0|Business Data Col...|Industry by emplo...|   Filled jobs|Agriculture, Fore...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [15]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: double (nullable = true)
 |-- Data_value: double (nullable = true)
 |-- Suppressed: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Magnitude: integer (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)
 |-- Series_title_2: string (nullable = true)
 |-- Series_title_3: string (nullable = true)
 |-- Series_title_4: string (nullable = true)
 |-- Series_title_5: string (nullable = true)

In [16]:
df.columns

['Series_reference',
 'Period',
 'Data_value',
 'Suppressed',
 'STATUS',
 'UNITS',
 'Magnitude',
 'Subject',
 'Group',
 'Series_title_1',
 'Series_title_2',
 'Series_title_3',
 'Series_title_4',
 'Series_title_5']

In [17]:
df.count()

12316

In [10]:
len(df.columns)

14

In [13]:
df.describe('Data_value').show()

+-------+-----------------+
|summary|       Data_value|
+-------+-----------------+
|  count|            12285|
|   mean|49214.80998086496|
| stddev|156169.1340675331|
|    min|         1.269302|
|    max|        2134716.0|
+-------+-----------------+

In [18]:
df.select('Period','STATUS','Data_value').show()

+-------+------+----------+
| Period|STATUS|Data_value|
+-------+------+----------+
|2011.06|     F|   80078.0|
|2011.09|     F|   78324.0|
|2011.12|     F|   85850.0|
|2012.03|     F|   90743.0|
|2012.06|     F|   81780.0|
|2012.09|     F|   79261.0|
|2012.12|     F|   87793.0|
|2013.03|     F|   91571.0|
|2013.06|     F|   81687.0|
|2013.09|     F|   81471.0|
|2013.12|     F|   93950.0|
|2014.03|     F|   97208.0|
|2014.06|     F|   85879.0|
|2014.09|     F|   84447.0|
|2014.12|     F|   95075.0|
|2015.03|     F|   98202.0|
|2015.06|     F|   87987.0|
|2015.09|     F|   84529.0|
|2015.12|     F|   96848.0|
|2016.03|     F|   99291.0|
+-------+------+----------+
only showing top 20 rows

In [19]:
df.filter(df.Suppressed=='Y').show()
df.filter(df.Suppressed=='Y').count()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SEE1999A|2012.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|         Filled jobs|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE2999A|2012.09|      null|         Y|     C| Value|        6|Business Data Col...|Territorial autho...|      Total earnings|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2011.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2011.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2011.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2012.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2012.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2012.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2012.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2013.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2013.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2013.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2013.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2015.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2015.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2015.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

31

In [32]:
df.select('Period','STATUS','Data_value').distinct().count()

11733

In [33]:
df.select('Data_value').distinct().count()

11214

In [34]:
df.filter((df.Suppressed=='Y') && (df.Series_reference=="BDCQ.SEE1999A")).count()

SyntaxError: invalid syntax (<ipython-input-34-19602060278a>, line 1)

In [35]:
df.orderBy(df.Data_value).show()

+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS| UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SEE3999A|2011.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2016.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2012.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2011.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2012.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2013.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2016.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2013.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2016.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE1999A|2012.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|         Filled jobs|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.12|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2012.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2015.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2013.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2015.06|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2014.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2016.03|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
|   BDCQ.SEE3999A|2015.09|      null|         Y|     C|Number|        0|Business Data Col...|Territorial autho...|Filled jobs (work...|Area Outside Terr...|        Actual|          null|          null|
+----------------+-------+----------+----------+------+------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

In [38]:
df.groupBy("UNITS").count().show()

+------+-----+
| UNITS|count|
+------+-----+
|Number| 7791|
| Value| 4525|
+------+-----+

# creating spark dataframe using pandas dataframe

In [41]:
import pandas as pd
df_pandas = pd.read_csv("test.csv")

In [ ]:
# df_pandas

In [43]:
df_spark_pandas = spark.createDataFrame(df_pandas)

In [45]:
df_spark_pandas.show()

+---+----+---+
|age|name| id|
+---+----+---+
| 23| xyz|123|
| 25| abc|456|
| 30| tvx|897|
+---+----+---+

# creating spark dataframe using csv, json, parquet, orc

In [5]:
df_csv = spark.read.csv("world_wonders.csv",inferSchema = True, header = True)

In [6]:
df_csv.show()

+--------------------+--------+-------+
|              Wonder|Location|   Year|
+--------------------+--------+-------+
|Great Pyramid of ...|   Egypt|2560 BC|
| Great Wall of China|   China| 700 BC|
|               Petra|  Jordan| 312 BC|
|           Colosseum|   Italy|  AD 80|
|        Chichen Itza|  Mexico| AD 600|
|        Machu Picchu|    Peru|AD 1450|
|           Taj Mahal|   India|AD 1643|
| Christ the Redeemer|  Brazil|AD 1931|
+--------------------+--------+-------+

In [8]:
df_csv.write.json("world_wonders_auto.json")

In [9]:
df_json = spark.read.json("world_wonders.json", multiLine=True)

In [10]:
df_json.show()

+--------+--------------------+-------+
|Location|              Wonder|   Year|
+--------+--------------------+-------+
|   Egypt|Great Pyramid of ...|2560 BC|
|   China| Great Wall of China| 700 BC|
|  Jordan|               Petra| 312 BC|
|   Italy|           Colosseum|  AD 80|
|  Mexico|        Chichen Itza| AD 600|
|    Peru|        Machu Picchu|AD 1450|
|   India|           Taj Mahal|AD 1643|
|  Brazil| Christ the Redeemer|AD 1931|
+--------+--------------------+-------+

In [11]:
df_json.write.parquet("world_wonders.parquet")
df_parquet = spark.read.parquet("world_wonders.parquet")

In [16]:
df_parquet.show()

+--------+--------------------+-------+
|Location|              Wonder|   Year|
+--------+--------------------+-------+
|   Egypt|Great Pyramid of ...|2560 BC|
|   China| Great Wall of China| 700 BC|
|  Jordan|               Petra| 312 BC|
|   Italy|           Colosseum|  AD 80|
|  Mexico|        Chichen Itza| AD 600|
|    Peru|        Machu Picchu|AD 1450|
|   India|           Taj Mahal|AD 1643|
|  Brazil| Christ the Redeemer|AD 1931|
+--------+--------------------+-------+

In [14]:
df_parquet.write.orc("world_wonders.orc")
df_orc = spark.read.orc("world_wonders.orc")

In [15]:
df_orc.show()

+--------+--------------------+-------+
|Location|              Wonder|   Year|
+--------+--------------------+-------+
|   Egypt|Great Pyramid of ...|2560 BC|
|   China| Great Wall of China| 700 BC|
|  Jordan|               Petra| 312 BC|
|   Italy|           Colosseum|  AD 80|
|  Mexico|        Chichen Itza| AD 600|
|    Peru|        Machu Picchu|AD 1450|
|   India|           Taj Mahal|AD 1643|
|  Brazil| Christ the Redeemer|AD 1931|
+--------+--------------------+-------+